---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  await import.meta.glob("./posts/*.md", { eager: true })
);
const pageTitle: string = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Blog page with some text</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
